@font-face {
  font-family: "simpsons";
  src: url(./fonts/Homer_Simpson_Revised.woff) format("woff");
}

body {
  margin: 0;
  font-family: "simpsons", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: skyblue;
  font-size: 1.6rem;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
